@font-face {
    font-family: "Stretch sans";
    src: url(../fonts/STRRETCH\ SANS.ttf);
}
@font-face {
    font-family: "SF Pro";
    src: url(../fonts/SFPro/SF-Pro.ttf);
}
@font-face {
    font-family: "SF Pro bold";
    src: url(../fonts/SFPro/SF-Pro-Display-Bold.otf);
}

:root{
    --dark-color: #313131;
    --contrast-color: #FFC857;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "SF Pro"!important;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    background-color:var(--dark-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--contrast-color);
    border-radius: 50px;
}

::selection{
    background-color: #f5f5f5a8;
    color: var(--dark-color);
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

p {
    font-size: 1rem;
}

nav{
    transition: all 200ms ease-in-out;
}

main {
    background-color: var(--dark-color);
}

section {
    /* min-height: 100vh;  */
}

.slide {
    height: 90vh;
    overflow: hidden;
}

.slide img{
    filter: blur(2px) grayscale(1);
    
}

.card-name {
    top: 50%;
    left: 50%;
    bottom: 50%;
    height: 25rem;  
    z-index: 1;
}

.uk-card {
    align-content: center;
}

.titulo {
    font-size: 6.25rem;
    font-family: "Stretch sans";
    width: 50rem;
    line-height: 6.25rem;
    color: var(--contrast-color)!important;
    text-shadow: 10px 10px 1px black;
}

.card-principal p {
    color: #f5f5f5;
    font-size: 1.25rem;
    font-family: "Stretch sans";
}

.card-principal p:after {
    content: "";
    position: relative;
    display: flex;
    height: 2px;
    background-color: var(--contrast-color);
    width: 110%;
    right: 5%;
}

.uk-card h2 {
    font-family: "SF Pro";
}

.num-list{
    color: var(--contrast-color);
}