body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "gotham";
}

@font-face{
    font-family: "Stretch sans";
    src: url(../fonts/STRRETCH\ SANS.ttf);
}

@font-face{
    font-family: "gotham";
    src: url(../fonts/Gotham-Black.otf);
}
@font-face{
    font-family: "gotham-paragrafo";
    src: url(../fonts/Gotham-Light.otf);
}

nav{
    z-index: 1;
}
main{
    background-color: #252525;
}
section{
    min-height: 100vh;
}

.slide{
    height: 80vh;
    overflow: hidden;
}

.card-name{
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    height: 400px;
    z-index: 1;
}

.uk-card{
    align-content: center;
}

.uk-card h3{
    font-size: 4rem;
    font-family: "Stretch sans";
    width: 500px;
}

.uk-card p{
    color: #f5f5f5;
    font-size: 1.3rem;
    font-family: "Stretch sans";
}

.uk-card p:after{
    content: "";
    position: relative;
    display: flex;
    height: 2px;
    background-color: turquoise;
    width: 110%;
    right: 5%;
}

.paragrafos{
    font-family: "gotham-paragrafo";
}

